/* components/CastEditor.module.css */
.castEditor {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.castEditor h2 {
  margin-bottom: 16px;
}

.castEditor ul {
  margin-bottom: 16px;
}

.castEditor li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.castEditor input[type="text"] {
  width: 150px;
  margin-right: 10px;
}

.crewEditor div {
  width: 200px;
  margin-right: 10px;
}

.castEditor button {
  margin-left: 10px;
}

.castEditor .addButton {
  margin-bottom: 20px;
  background-color: #008cba;
}

.castEditor .addButton:hover {
  background-color: #007b8f;
}
