/* styles/page.module.css */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
}

.button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #45a049;
}


/* --------------------------------------------------- */
.roleContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selectWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selectInput {
  padding: 10px;
  width: 200px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.addButton, .deleteButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.addButton {
  background-color: #27ae60;
  color: white;
}

.addButton:hover {
  background-color: #2ecc71;
}

.deleteButton {
  background-color: #e74c3c;
  color: white;
}

.deleteButton:hover {
  background-color: #c0392b;
}

.selectWrapper select:focus, 
.selectWrapper button:focus {
  outline: none;
}

.selectInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}